.card-grid {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
}

.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    opacity: 1;
    text-decoration: none;
    background-color: rgba(105, 124, 160, 0.25);
    border-style: none;
}

.card:hover {
    opacity: .85;

}

.card-text {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.card-title {
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}

.card-col {
    padding-top: 25px;
}

.card-text, .card-title {
    color: rgb(43, 43, 43);
}

a {
    text-decoration: none;
}

.media {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
