.card-grid {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 36px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
}

.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 75%;
    opacity: 1;
    background-color: rgba(105, 124, 160, 0.25) !important;
    border-style: none !important;
    border-radius: 0px !important;
}

.card-image {
    width: 100%;
    padding: 5px;
    border-radius: 0px;
}

.card-content {
    height: 100% !important;
    width: 75% !important;
}

.card:hover {
    opacity: .85;

}

.card-text {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.card-title {
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}
/* 
.card-col {
    padding-top: 25px;
} */

.card-text, .card-title {
    color: rgb(43, 43, 43);
}

a {
    text-decoration: none !important;
}

.media {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.site-link {
    margin-left: 5px;
    margin-right: 5px;
    color:rgb(49, 84, 119);
    font-size: 25px;
    vertical-align: middle;
}

.site-link:hover {
    color: rgb(43, 43, 43);
}


