header {
    position: relative;
    background-color: rgb(49, 84, 119);
    /* height: 5vh; */
}

nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 5vh; */
    flex-wrap: wrap;
}

.navbar-text {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar-brand {
    margin-left: 5px;
    align-items: center;
}

.nav-link {
    color: rgb(214, 214, 214) !important; 
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 18px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
}

li {
    list-style-type: none;
}

.nav-link:hover {
    color: rgb(43, 43, 43) !important;
}

.dropdown {
    display: none;
}

.dropdown-toggle div {
    width: 25px;
    height: 2px;
    background-color: rgb(214, 214, 214); 
    margin: 5px;
}

.dropdown-toggle::after {
    content: none;
}

.header-line {
    margin: auto;
}

.dropdown-menu {
    background-color: rgb(49, 84, 119) !important;
    border-style: none !important;
    min-width: 15rem !important;
    inset: 0px 0px 0px 0px !important;
    line-height: 3 !important;
    height: 100vh;
    
}


@media screen and (max-width: 768px) {

    .dropdown {
        display: flex;
    }
    .full {
        display: none;
    }
    .dropdown-menu {
        /* opacity: 75%; */
    }

    .dropdown-item {
       font-family: 'Lora', serif;
       color: rgb(214, 214, 214) !important; 
       display: inline;
    }

    .dropdown-item:hover {
        opacity: 100%;
        font-weight: bolder;
        color: rgb(49, 84, 119) !important;
    }
}