header {
  position: relative;
  background-color: rgb(49, 84, 119);
  line-height: 3vh;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-text {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar-brand {
  margin-left: 5px;
  align-items: center;
}

.nav-link {
  color: rgb(214, 214, 214) !important;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(49, 84, 119) !important;
  transform: scale(1.05);
  background-color: rgb(214, 214, 214);
  vertical-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
}

li {
  list-style-type: none;
}

.dropdown {
  display: none;
}

.dropdown-toggle div {
  width: 25px;
  height: 2px;
  background-color: rgb(214, 214, 214);
  margin: 5px;
}

.dropdown-toggle::after {
  content: none;
}

.header-line {
  margin: auto;
}

.dropdown-menu {
  background-color: rgb(49, 84, 119) !important;
  border-style: none !important;
  min-width: 15rem !important;
  inset: 0px 0px 0px 0px !important;
  line-height: 3 !important;
  height: 100vh;
}

.logo-style {
  height: 3vh;
}

@media screen and (max-width: 768px) {
  .dropdown {
    display: flex;
  }

  .full {
    display: none;
  }

  .dropdown-item {
    font-family: "Lora", serif;
    color: rgb(214, 214, 214) !important;
  }

  .dropdown-item:hover {
    font-weight: bolder;
    color: rgb(49, 84, 119) !important;
  }
}
