header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 7vh;
  z-index: 999;
}

.header-winter {
  background-color: rgb(49, 84, 119);
}

.header-summer {
  background-color: rgb(72, 108, 61);
}

nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 7vh;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.season-title {
  margin: 0;
  color: rgb(214, 214, 214) ;
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 50px ;
}

.season-change {
  display: flex;
  justify-content: center;
  align-items: center;

}


.navbar-text {
  padding: 0 !important;
  display: flex;
  justify-content: space-around;
}

.navbar-brand {
  margin-left: 5px;
  align-items: center;
}

.nav-link {
  transition: .3s ease;
  color: rgb(214, 214, 214) !important;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid rgb(214, 214, 214);
  border-bottom: 4px solid rgb(49, 84, 119);
}


.header-link {
  transition: 0.5s ease;
  font-family: "Poppins", sans-serif;
  color: rgb(214, 214, 214);
  font-size: 20px;
  text-decoration: none;
  border-top: 0px;
  border-bottom: 0px;
  padding: 20px 0;
  margin: 0 20px;
}

.header-link:hover {
  border-top: 3px solid rgb(214, 214, 214);
  border-bottom: 3px solid rgb(214, 214, 214);
  color: rgb(214, 214, 214);
  padding: 5px 0; 
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.dropdown {
  display: none;
  height: 100%;
}

.dropdown-toggle div {
  width: 25px;
  height: 2px;
  background-color: transparent !important;
  margin: 5px;
}

.dropdown-toggle::after {
  content: none;
}

.header-line {
  margin: auto;
}

.dropdown-menu {
  border-style: none !important;
  min-width: 15rem !important;
  inset: 0px 0px 0px 0px !important;
  line-height: 3 !important;
  height: 100vh;
}

.dropdown-menu-winter {
  background-color: rgb(49, 84, 119) !important;
}

.dropdown-menu-summer {
  background-color: rgb(72, 108, 61) !important;
}

.logo-style {
  height: 4vh;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: rgb(214, 214, 214) !important;
}

.dropdown-toggle::after {
  content: none !important;
}

.show>.btn-success.dropdown-toggle:focus {
  box-shadow: none !important;
}

.btn-success:focus {
  box-shadow: none !important;
}

.dropdown-icon {
  margin-right: 10px;
}



@media screen and (max-width: 768px) {
  .dropdown {
    display: flex;
  }

  .full {
    display: none;
  }

  .dropdown-item {
    font-family: "Lora", serif;
    color: rgb(214, 214, 214) !important;
  }

  .dropdown-item:hover {
    font-weight: bolder;
    color: rgb(49, 84, 119) !important;
  }
  
}
