footer {
    position: relative;
    align-items: center;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(49, 84, 119);
}

.info {
    margin: 0;
    color:rgb(214, 214, 214);
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.social {
    margin-left: 5px;
    margin-right: 5px;
    color:rgb(214, 214, 214);
    font-size: 25px;
    vertical-align: middle;
}

.media-top {
    padding-top: 20px ;
    padding-bottom: 0;
}
.media-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

.social:hover, .info:hover {
    color: rgb(43, 43, 43) !important;
}