.overlay {
  position: relative;
  width: 50vh;
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}



.propic {
  width: 50vh;
  height: 50vh;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.propic-winter {
/* display: none; */
}

.hide-pic {
  display: none;
}

.propic-summer {
  border-radius: 100%;
  /* display: none; */
}
 
.overlay:hover .propic{
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.image-icon-container {
    height: 25vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50% !important;
}

.top-icon-container {
    height: 100%;
}
.bottom-icon-container {
   height: 100%;
}

.icon-divider {
position: absolute;
}

.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  opacity: 0;
  transition: opacity 0.25s;
  height: 50vh;
}

.overlay:hover .image_overlay {
    opacity: 1;

  }

  .image-info {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }

  .image-info:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

.propic-link {
    color: rgb(214, 214, 214) !important;
    opacity: .75;
}

.propic-link:hover {
   opacity: 1;
   
}

.cross {
    position:relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cross:before, .cross:after{
    content:'';
    position:absolute;
    width:35vh;
    height:4px;
    background-color:white;
    opacity: .75;
    border-radius:2px;
    bottom:10px;
}

.cross:before{
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
}
.cross:after{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.image-info {
  text-align: center;
}

.icon-style {
  transform: scale(2.7);
  margin: 0, 15px, 0, 0;
}

.icon-style:hover {
  transform: scale(3.2);
}

h1 {
  position: relative;
  text-align: center;
  font-family: "Poiret One", cursive;
  font-weight: bold !important;
  font-size: 10vh !important;
  color: rgb(43, 43, 43);
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  position: relative;
  font-size: 6vh !important;
  font-weight: bold !important;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(43, 43, 43);
  font-family: "Poiret One", cursive;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .overlay {
    width: 40vh;
  }

  .propic  {
    margin-top: 10vh;
    height: 40vh;
    width: 40vh;
  }

  .image_overlay {
    width: 40vh;
    height: 40vh;
  }

  .icon-style {
    transform: scale(2);
    margin: 0, 15px, 0, 0;
  }
  
  .icon-style:hover {
    transform: scale(2.5);
  }

  .cross:before, .cross:after{
    content:'';
    position:absolute;
    width:30vh;
    height:4px;
    background-color:white;
    border-radius:2px;
    bottom:10px;
  }

  h1 {
    font-size: 7vh !important;
  }

  h2 {
    font-size: 4vh !important;
  }
}

@media screen and (max-width: 400px) {
  .icon-style {
    transform: scale(1.5);
    margin: 0, 15px, 0, 0;
  }
  
  .icon-style:hover {
    transform: scale(2);
  }
}
