.propic {
    height: 50vh;
    display: block;
    margin-top: 15vh;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-radius: 100%;
    border-color: rgb(200, 200, 200); 
    border-width: 1;
}

h1 {
    position: relative;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 10vh;
    color: rgb(43, 43, 43);
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    position: relative;
    font-size: 7vh;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(43, 43, 43);
    font-family: 'Poiret One', cursive;
    padding-bottom: 20px;
}