html, body {
  max-width: 100%;
  overflow-x: hidden;
  display: grid;
  height: 100vh
}

body {
background-image: url(./Images/mountain-opacity.webp);
background-size: cover;
background-position: center;
background-attachment: fixed;
height: 100vh;
}

.body-summer {
  background-image: url(./Images/SummerBackground.webp);
}

.landing {
  height: 100vh;
}

.main{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(224, 224, 224, 0.8);
}

